version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: @docsearch/css
        update-types: ['version-update:semver-major']
      - dependency-name: @docsearch/js
        update-types: ['version-update:semver-major']
    groups:
      dev-dependencies:
        patterns:
          - '*'
