// UIkit Core
@import "../assets/uikit/src/less/uikit.theme.less";

// Highlight.js
@import "highlight.less";

// Fonts
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Thin-webfont.eot');
    src: url('../fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Thin-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Thin-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Thin-webfont.svg#ProximaNovaThin') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';


// UIkit
// ========================================================================

@global-font-family:                            ProximaNova;
@global-font-size:                              15px;

@global-xxlarge-font-size:                      38px;
@global-xlarge-font-size:                       30px;
@global-large-font-size:                        24px;
@global-medium-font-size:                       20px;
@global-small-font-size:                        14px;

@global-muted-color:                            #aaa;

@global-border:                                 #e5e5e5;

//
// Base
//

@base-code-font-family:                         'Roboto Mono', monospace;;
@base-code-font-size:                           12px;

@base-heading-font-weight:                      300;

@base-pre-font-size:                            12px;
@base-pre-padding:                              25px;
@base-pre-background:                           @global-muted-background;
@base-pre-border-width:                         0;
@base-pre-border-radius:                        0;

.hook-base-body() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

//
// Container
//

@container-small-max-width:                     650px;

//
// Nav
//

@nav-header-font-size:                          12px;

//
// Tab
//

@tab-item-padding-horizontal:                   20px;
@tab-item-padding-vertical:                     10px;
@tab-item-border-width:                         2px;
@tab-item-font-size:                            12px;

//
// Table
//

@table-header-cell-font-size:                   12px;

//
// Label
//

@label-font-size:                               12px;

//
// Text
//

.hook-text-lead() { font-weight: 300; }
.hook-text-large() { font-weight: 300; }

//
// Inverse
//

@inverse-global-color:                          fade(@global-inverse-color, 80%);
@inverse-global-muted-color:                    fade(@global-inverse-color, 60%);


/* ========================================================================
   Theme
 ========================================================================== */

@sidebar-left-width:     240px;
@sidebar-left-width-xl:  300px;

@sidebar-right-width:    200px;
@sidebar-right-left:     0px;
@sidebar-right-left-xl:  60px;


/* HTML
 ========================================================================== */

/*
 * Force vertical scrollbar
 */

html { overflow-y: scroll; }


/* Documentation Sidebars
 ========================================================================== */

/*
 * Sidebar Left
 */

.tm-sidebar-left {
    position: fixed;
    top: @navbar-nav-item-height;
    bottom: 0;
    box-sizing: border-box;
    width: @sidebar-left-width !important;
    padding: 40px 40px 60px 40px;
    border-right: 1px @global-border solid;
    overflow: auto;
}

/*
 * Sidebar Right
 */

.tm-sidebar-right {
    position: absolute;
    top: 0;
    left: ~'calc(100% + @{sidebar-right-left})';
    width: @sidebar-right-width;
}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .tm-sidebar-left + .tm-main { padding-left: @sidebar-left-width; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .tm-sidebar-right { left: ~'calc(100% + @{sidebar-right-left})'; }

    .tm-sidebar-left + .tm-main { padding-left: @sidebar-left-width - (@sidebar-right-width + @sidebar-right-left); }

}

/* Large screen and bigger */
@media (min-width: 1400px) {

    .tm-sidebar-left {
        width: @sidebar-left-width-xl !important;
        padding: 45px 45px 60px 45px;
    }

    .tm-sidebar-right { left: ~'calc(100% + @{sidebar-right-left-xl})'; }

    .tm-sidebar-left + .tm-main { padding-left: @sidebar-left-width-xl - (@sidebar-right-width + @sidebar-right-left-xl); }

}





/* UIkit modifier
 ========================================================================== */

/*
 * Navbar
 */

.tm-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left, #26A3F4, #1D87F1);
}

// Color Mode
.tm-navbar-container:not(.uk-navbar-transparent):extend(.uk-light all) {}


/*
 * Nav
 */

.tm-nav > li.uk-active > a { position: relative; }

.tm-nav > li.uk-active > a:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -25px;
    width: 15px;
    border-top: 1px solid @global-primary-background;
}

.tm-nav .uk-nav-header {
    padding: 8px 0;
    border-bottom: 1px solid @global-border;
}



/*
 * Button
 */

.tm-button-default,
.tm-button-primary { border-radius: 500px; }


//
// Button overrides
//

// @button-default-background:                     transparent;
// @button-default-hover-background:               transparent;

// @button-border-width:                           @global-border-width;

// @button-default-border:                         @global-border;
// @button-default-hover-border:                   darken(@global-border, 10%);
// @button-default-active-border:                  darken(@global-border, 20%);

// @inverse-button-default-background:             transparent;
// @inverse-button-default-color:                  @inverse-global-color;
// @inverse-button-default-hover-background:       transparent;
// @inverse-button-default-hover-color:            @inverse-global-emphasis-color;
// @inverse-button-default-active-background:      @inverse-global-primary-background;
// @inverse-button-default-active-color:           @inverse-global-inverse-color;
// @inverse-button-default-border:                 @inverse-global-muted-color;
// @inverse-button-default-hover-border:           @inverse-global-emphasis-color;
// @inverse-button-default-active-border:          @inverse-global-emphasis-color;



/* Utilities
 ========================================================================== */

/*
 * Heading fragment
 */

.tm-heading-fragment > a {
    color: inherit;
    text-decoration: none;
}

h2.tm-heading-fragment > a {
    display: block;
    margin-left: -25px;
}

h2.tm-heading-fragment > a:before {
    content: "#";
    width: 25px;
    float: left;
    color: @global-muted-color;
}