// UIkit Core
@import "../assets/uikit/src/less/uikit.all.less";

// UIkit Master Theme
@import "uikit-master/base/_import.less";
@import "uikit-master/typo/_import.less";
@import "uikit-master/border/_import.less";
@import "uikit-master/border-radius/_import.less";
@import "uikit-master/box-shadow/_import.less";

// UIkit Theme
@import "uikit/_import.less";

// Highlight.js
@import "highlight.less";

// Fonts
@font-face {
    font-family: 'ProximaNovaThin';
    src: url('../fonts/ProximaNova-Thin-webfont.eot');
    src: url('../fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Thin-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Thin-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Thin-webfont.svg#ProximaNovaThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ========================================================================
   Theme
 ========================================================================== */

@sidebar-left-width:     220px;
@sidebar-left-width-xl:  300px;

@sidebar-right-width:    200px;
@sidebar-right-left:     0px;
@sidebar-right-left-xl:  60px;


/* HTML
 ========================================================================== */

/*
 * Force vertical scrollbar
 */

html { overflow-y: scroll; }


/* Documentation Sidebars
 ========================================================================== */

/*
 * Sidebar Left
 */

.tm-sidebar-left {
    position: fixed;
    top: @navbar-nav-item-height;
    bottom: 0;
    box-sizing: border-box;
    width: @sidebar-left-width !important;
    padding: 30px 30px 60px 30px;
    border-right: 1px @global-border solid;
    overflow: auto;
}

/*
 * Sidebar Right
 */

.tm-sidebar-right {
    position: absolute;
    top: 0;
    left: ~'calc(100% + @{sidebar-right-left})';
    width: @sidebar-right-width;
}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .tm-sidebar-left + .tm-main { padding-left: @sidebar-left-width; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .tm-sidebar-right { left: ~'calc(100% + @{sidebar-right-left})'; }

    .tm-sidebar-left + .tm-main { padding-left: @sidebar-left-width - (@sidebar-right-width + @sidebar-right-left); }

}

/* Large screen and bigger */
@media (min-width: 1400px) {

    .tm-sidebar-left {
        width: @sidebar-left-width-xl !important;
        padding: 45px 45px 60px 45px;
    }

    .tm-sidebar-right { left: ~'calc(100% + @{sidebar-right-left-xl})'; }

    .tm-sidebar-left + .tm-main { padding-left: @sidebar-left-width-xl - (@sidebar-right-width + @sidebar-right-left-xl); }

}


/* Utilities
 ========================================================================== */

/*
 * Heading fragment
 */

.tm-heading-fragment > a {
    color: inherit;
    text-decoration: none;
}

h2.tm-heading-fragment > a {
    display: block;
    margin-left: -25px;
}

h2.tm-heading-fragment > a:before {
    content: "#";
    width: 25px;
    float: left;
    color: @global-muted-color;
}