AddType  font/woff  .woff
AddType  font/woff2  .woff2
AddType  text/html;charset=utf-8  .md

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

  # redirect v2 showcase urls
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^showcase(.*)$ https://getuikit.com/v2/showcase$1 [R=301,L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>

<FilesMatch "\.html$">
    Header set Cache-Control "public, must-revalidate"
</FilesMatch>

<FilesMatch "package\.json$">
    Header set Cache-Control "public, must-revalidate"
</FilesMatch>

<FilesMatch ".(js|css|ico|svg|jpg|jpeg|bmp|png|gif|webp|woff|woff2)$">
    Header set Cache-Control "public, max-age=84600"
</FilesMatch>
