---
- name: Setup UIkit Site

  hosts:
    - uikit

  vars:
    uikit:
      image: "{{ uikit_image | default('ghcr.io/uikit/uikit-site:latest') }}"
      domain: "{{ uikit_domain | default('uikit.' + ansible_facts.default_ipv4.address + '.sslip.io') }}"
      project: "{{ uikit_project | default('uikit') }}"

  tasks:
    - name: Deploy UIkit site
      community.docker.docker_compose_v2:
        project_name: "{{ uikit.project }}"
        remove_orphans: true
        definition:
          services:
            app:
              container_name: "{{ uikit.project }}"
              image: "{{ uikit.image }}"
              restart: unless-stopped

              pull_policy: always

              networks:
                - caddy

              labels:
                caddy: "{{ uikit.domain }}"
                caddy.reverse_proxy: !unsafe "{{upstreams 80}}"

                caddy.log: "" # access log
                caddy.encode: "" # zstd gzip

          networks:
            caddy:
              name: "{{ caddy_network | default('caddy') }}"
              external: true

    - name: Prune unused images, not just dangling ones
      community.docker.docker_prune:
        images: true
        images_filters:
          dangling: false

    - name: Setup complete
      ansible.builtin.debug:
        msg: |
          - UIkit Site! is available at: https://{{ uikit.domain }}
